.header{
    width: 100vw;
    height: 8vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

}

.bi-house-fill{
    color: white;
    font-size: 2rem;
}